.form {
  width: 100%;
  border-radius: 5px;
  margin: 100px auto;
}

.form a {
  color: #f8f8f8; /* light gray link color */
  text-decoration: none; /* remove underline */
}

.form a:hover {
  color: #fff; /* white on hover */
  text-decoration: underline; /* add underline on hover */
}

.form_header {
  text-align: center;
}

.form_footer {
  text-align: left;
  margin: auto;
  width: 90%;
}

.form_group {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 10px;
}

.form_group label {
  font-size: 15px;
}

.form_group input {
  padding: 10px;
  font-size: 17px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  color: #fff;
}

.form_group:has(input[type="checkbox"]) {
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.terms {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.form_group button {
  width: 60%;
  background: linear-gradient(45deg, #000 0%, #353535 100%);
  color: #fff;
  padding: 10px 0;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .form {
    width: 80%;
  }
}

@media screen and (min-width: 1024px) {
  .form {
    width: 60%;
  }
}

@media screen and (min-width: 1280px) {
  .form {
    width: 50%;
  }
}
