.login {
  border-radius: 5px;
  width: 100%;
  margin: auto;
}
.form_header {
  text-align: center;
  color: #000;
}
.form_footer {
  text-align: left;
  margin: auto;
  width: 90%;
  color: #333;
}
.form_group {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 10px;
}

.form_group label {
  color: #000;
}
.form_group input {
  padding: 10px;
  border-radius: 5px;
  color: #000;
  font-size: 17px;
  background-color: #dedede;
}
.form_group button {
  width: 60%;
  background-color: #000;
  color: #fff;
  padding: 10px 0;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .login {
    width: 80%;
  }
}

@media screen and (min-width: 1024px) {
  .login {
    width: 60%;
  }
}

@media screen and (min-width: 1280px) {
  .login {
    width: 50%;
  }
}
