* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  color: #fff;
}

html {
  position: relative;
}

body {
  position: relative;
  width: 100vw;
  background: linear-gradient(180deg, #353535 0%, #151515 100%);
  min-height: 100vh;
  height: 100%;
  display: flex;
  overflow: auto;
  flex-direction: column;
  overflow: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
